{% extends 'core/base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<h3>login please</h3>

<br>

<form action="" method="post">

    {% csrf_token %}
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Ingrese sus datos</h5>

            {{ form | crispy }}

          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href={% url 'home' %} class="card-link">Inicio</a>
          <a href={% url 'register' %} class="card-link">Registrarse</a>

            <button class = "btn btn-sm btn-primary float-end"type="submit">Iniciar</button>

        </div>
      </div>



</form>


{% endblock %}